body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card-group{
    overflow: hidden;
    border: 0 !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(195, 195, 195);
    width: 60%;
    border-radius: 50px;
    height: 80%;
}

.img-left{
    width: 40%;
    background-image: url('../imagens/fundoCardLogin.gif');
    background-size: cover;
}

.card-body{
    padding: 2rem;
}

.form-group{
    position: relative;
}

.form-group input{
    width: 100%;
    height: 45px;
    padding-left: 15px;
    margin-bottom: 5px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid #00000020;
    border-radius: 50px;
    outline: none;
    background: transparent;
}

.title{
    margin-top: -10px;
    margin-bottom: 30px;
    color: black;
}


.card-header{
    background-color: black;
    color: white;
}

.botoes{
    margin-top: 80px;
}

.alert{
    color: black;
}

.msgErro{
    position: fixed;
    width: 31%;
}
